* {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
}

body{
  background-color: #DCD4D0;
}

html {
  scroll-padding-top: 150px; /* height of sticky header */
}

nav {
  float: left;
  display: flex;
  justify-content: center;
  background-color: #DCD4D0;
  height: 140px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
}

.logo {
  font-family: Sacramento;
  font-size: 75px;
  color:#2E2E2E;
  text-decoration: none;
}

.navbar a {
  float: left;
  color: #2E2E2E;
  font-size: 20px;
  font-family: Arial;
  padding: 40px 10px;
  text-decoration: none;
  margin-right: 35px;
}

ul {
  margin: 30px;
}

ul li {
  list-style: none;
  float: left;
  line-height: 20px;
}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-family: arial;
  color: black;
  padding: 0 20px;
}

ul li a:hover {
  color: #C1B9B5;
}

/*forside*/

#forsidebox {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 475px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.main {
  float: left;
  padding: 15px 30px;
  width: 55%;
}

.side {
  float: right;
  padding-top: 80px;
  width: 45%
}

.side img {
  width: 85%;
  height: auto;
  margin-top: -55px;
}

.headline1 {
  font-family: Arial;
  font-size: 50px;
  color:#2E2E2E;
  text-align: left;
  padding: 20px 20px;
  margin-top: 70px;
  margin-left: 40px;
}

.bigheadline {
  font-family: Arial;
  font-size: 30px;
  color:#2E2E2E;
  text-align: left;
  margin-top: -50px;
  margin-left: 60px;
}

/*portfolio*/

#portfoliobox {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  height: 820px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.headline2 {
  font-family: Arial;
  font-size: 40px;
  color:#2E2E2E;
  margin-left: auto;
  margin-right: auto;
}

title {
  height: 100%;
}

.myportfolio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Arial;
  font-size: 20px;
  color:#2E2E2E;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.projects {
  display: flex;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
  text-align: center;
}

.line1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.line2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  display: block;
  width: 300px;
  height: 300px;
}

.text {
  color: #DEDEDE;
  width: 100%;
  height: 20%;
  padding: 15px 15px;
  background-color: #4e423bbf;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-family: Arial;
  font-style: normal;
}

/*Kompetencer*/

.skillsbox {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 450px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.headline3 {
  font-family: Arial;
  font-size: 40px;
  color:#2E2E2E;
  margin-left: auto;
  margin-right: auto;
}

.skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Arial;
  font-size: 20px;
  color:#2E2E2E;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: -50px
}

.adobeprograms {
  display: flex;
  position: relative;
  width: 250px;
  height: 200px;
  justify-content: center;
}

/*Hvem er jeg*/

#ommigbox {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 450px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.main2 {
  float: left;
  padding: 15px 30px;
  width: 55%;
}

.side2 {
  float: right;
  padding-top: 80px;
  width: 45%
}

.side2 img{
  width: 70%;
  height: auto;
  margin-top: 10px;
  margin-left: 40px;
  margin-top: 10px;
}

.headline4 {
  font-family: Arial;
  font-size: 40px;
  color:#2E2E2E;
  text-align: left;
  padding: 20px 20px;
  margin-top: 40px;
  margin-left: 40px;
}

.aboutme {
  font-family: Arial;
  font-size: 18px;
  color:#2E2E2E;
  text-align: left;
  padding: 0px 20px;
  line-height: 1.5;
  margin-left: 40px;
}

/*kontakt*/

#kontaktbox {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 850px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.headline5 {
  display: flex;
  justify-content: center;
  font-family: Arial;
  font-size: 40px;
  color:#2E2E2E;
  margin-right: 70px;
  margin-left: 80px;
}

.contactme {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Arial;
  font-size: 20px;
  color:#2E2E2E;
  text-align: center;
  margin-top: -50px
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: #4E423B;
  color: #DEDEDE;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial;
}

input[type=submit]:hover {
  background-color: #DCD4D0;
}

.container {
  border-radius: 5px;
  background-color: #C1B9B5;
  padding: 20px;
  font-family: Arial;
  padding: 0 80px;
}

/*footer*/

.footer {
  color: #DEDEDE;
  font-family: Arial;
  font-size: 15px;
  background-color: #4E423B;
  height: 100px;
  width: 70%;
  display: inline-block;
  margin-left: 215px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.footer div {
  display: inline-block;
  margin-left: 15px;
  margin-top: 20px;
  padding: 0 30px;
}

.socialmedia a {
  display: inline-block;
  margin-left: 15px;
}

.fa-facebook-square {
  background: #4E423B;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.fa-linkedin {
  background:#4E423B;
  font-size: 20px;
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
