* {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
}

body{
  background-color: #DCD4D0;
}

html {
  scroll-padding-top: 150px; /* height of sticky header */
}

nav {
  float: left;
  display: flex;
  justify-content: center;
  background-color: #DCD4D0;
  height: 140px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
}

.logo {
  font-family: Sacramento;
  font-size: 75px;
  color:#2E2E2E;
  text-decoration: none;
}

.navbar a {
  float: left;
  color: #2E2E2E;
  font-size: 20px;
  font-family: Arial;
  padding: 40px 10px;
  text-decoration: none;
  margin-right: 35px;
}

ul {
  margin: 30px;
}

ul li {
  list-style: none;
  float: left;
  line-height: 20px;
}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-family: arial;
  color: black;
  padding: 0 20px;
}

ul li a:hover {
  color: #C1B9B5;
}

/*forside*/

#forsidebox {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 475px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.main {
  float: left;
  padding: 15px 30px;
  width: 55%;
}

.side {
  float: right;
  padding-top: 80px;
  width: 45%
}

.side img {
  width: 85%;
  height: auto;
  margin-top: -55px;
}

.headline1 {
  font-family: Arial;
  font-size: 50px;
  color:#2E2E2E;
  text-align: left;
  padding: 20px 20px;
  margin-top: 70px;
  margin-left: 40px;
}

.bigheadline {
  font-family: Arial;
  font-size: 30px;
  color:#2E2E2E;
  text-align: left;
  margin-top: -50px;
  margin-left: 60px;
}
