* {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
}

body{
  background-color: #DCD4D0;
}

nav {
  float: left;
  display: flex;
  justify-content: center;
  background-color: #DCD4D0;
  height: 20%;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
}

.logo {
  font-family: Sacramento;
  font-size: 380%;
  color:#2E2E2E;
  text-decoration: none;
}

.navbar a {
  float: left;
  color: #2E2E2E;
  font-size: 120%;
  font-family: Arial;
  padding: 40px 6px;
  text-decoration: none;
  margin-right: 49px;
}

ul {
  margin: 2.5%;
}

ul li {
  list-style: none;
  float: left;
  line-height: 20px;
}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 120%;
  font-family: arial;
  color: #2E2E2E;
  padding: 0% 2%;
}

ul li a:hover {
  color: #C1B9B5;
}

.fa-arrow-left {
  color: #4E423B;
  padding: 210%;
  font-size: 150%;
  text-decoration: none;
}

.fa-arrow-left:hover {
  color: #DCD4D0;
}

.fa-arrow-up {
  color: #4E423B;
  padding: 2%;
  font-size: 150%;
  text-decoration: none;
  margin-left: 2100%;
}

.fa-arrow-up:hover {
  color: #DCD4D0;
}

/*foto*/

.foto-headline {
  font-family: Arial;
  font-size: 300%;
  color:#2E2E2E;
  margin-left: 27%;
  margin-right: auto;
}

.foto-text {
  font-family: Arial;
  font-size: 130%;
  color:#2E2E2E;
  margin-left: auto;
  margin-right: auto;
}

.box1 {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 1480px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.foto {
  font-family: Arial;
  font-size: 130%;
  color:#2E2E2E;
  text-align: left;
  line-height: 1.5;
  margin-left: 15%;
  margin-right: 15%;
}

.foto img {
  width: 70%;
  height: auto;
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 10%;
}

/*movingart*/

.movingart-headline {
  font-family: Arial;
  font-size: 300%;
  color:#2E2E2E;
  margin-left: 22%;
  margin-right: auto;
}

.movingart-text {
  font-family: Arial;
  font-size: 130%;
  color:#2E2E2E;
  margin-left: 2%;
  padding: 0 13%;
  line-height: 1.5;
}

.movingart a {
  font-family: Arial;
  font-size: 130%;
  color:#2E2E2E;
  line-height: 3.0;
  text-align: left;
  margin-left: 25%;
  text-decoration: underline;
}

.box2 {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 1500px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.movingart img {
  width: 50%;
  height: auto;
  margin-top: 1%;
  margin-left: 25%;
  margin-right: 15%;
  margin-bottom: 5%;
}

/*video*/

.video-headline {
  font-family: Arial;
  font-size: 300%;
  color:#2E2E2E;
  margin-left: 26%;
  margin-right: auto;
}

.video-text {
  font-family: Arial;
  font-size: 130%;
  color:#2E2E2E;
  margin-left: 2%;
  padding: 0 13%;
  line-height: 1.5;
}

.video a {
  font-family: Arial;
  font-size: 130%;
  color:#2E2E2E;
  text-align: left;
  line-height: 3.0;
  margin-left: 15%;
}

.box3 {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 770px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.video img {
  width: 70%;
  height: auto;
  margin-top: 1%;
  margin-left: 15%;
  margin-bottom: 5%;
}

/*app*/

.app-headline {
  font-family: Arial;
  font-size: 300%;
  color:#2E2E2E;
  margin-left: 33%;
  margin-right: auto;
}

.app-text {
  font-family: Arial;
  font-size: 130%;
  color:#2E2E2E;
  margin-left: 2%;
  padding: 0 13%;
  line-height: 1.5;
}

.app a {
  font-family: Arial;
  font-size: 130%;
  color:#2E2E2E;
  line-height: 3.0;
  text-align: left;
  margin-left: 15%;
}

.box4 {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 970px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.app img {
  width: 70%;
  height: auto;
  margin-top: 1%;
  margin-left: 15%;
  margin-bottom: 5%;
}


/*animation*/

.animation-headline {
  font-family: Arial;
  font-size: 300%;
  color:#2E2E2E;
  margin-left: 37%;
  margin-right: auto;
}

.animation-text {
  font-family: Arial;
  font-size: 130%;
  color:#2E2E2E;
  margin-left: 2%;
  padding: 0 13%;
  line-height: 1.5;
}

.animation a {
  font-family: Arial;
  font-size: 130%;
  color:#2E2E2E;
  margin-left: 15%;
}

.box5 {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 1000px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.animation img {
  width: 60%;
  height: auto;
  margin-top: 5%;
  margin-left: 15%;
}

/*poster*/

.poster-headline {
  font-family: Arial;
  font-size: 300%;
  color:#2E2E2E;
  margin-left: 40%;
  margin-right: auto;
}

.poster-text {
  font-family: Arial;
  font-size: 130%;
  color:#2E2E2E;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0 13%;
  line-height: 1.5;
  text-align: center;
}

.poster {
  font-family: Arial;
  font-size: 130%;
  color:#2E2E2E;
  text-align: left;
  line-height: 1.5;
  margin-left: 15%;
  margin-right: 15%;
}

.box6 {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 1010px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.poster img {
  width: 70%;
  height: auto;
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 20%;
  margin-bottom: 5%;
}

/*footer*/

.footer {
  color: #DEDEDE;
  font-family: Arial;
  font-size: 95%;
  background-color: #4E423B;
  height: 100px;
  width: 70%;
  display: inline-block;
  margin-left: 15%;
  margin-top: 3%;
  margin-bottom: 5%;
}

.footer div {
  display: inline-block;
  padding: 0 30px;
  margin-left: 15px;
  margin-top: 20px;
}

.socialmedia a {
  display: inline-block;
  margin-right: 10px;
}

.fa-facebook-square {
  background: #4E423B;
  color:#DEDEDE;
  font-size: 130%;
  text-decoration: none;
}

.fa-linkedin {
  background:#4E423B;
  color: #DEDEDE;
  font-size: 130%;
  text-decoration: none;
}

@media only screen and (max-width: 479px){

/*navbar*/

nav {
  height: 10%;
  width: 100%;
}

.logo {
  font-size: 200%;
}

.navbar a {
  font-size: 50%;
  padding: 40px -10px;
  margin-right: 5px;
}

ul {
  margin: 2.5%;
}

ul li {
  line-height: 2%;
}

ul li a {
  padding: 5% 2%;
}

.fa-arrow-left {
  padding: 20%;
  font-size: 80%;
  margin-top: 680%;
  margin-right: 20%;
}

.fa-arrow-up {
  padding: 2%;
  font-size: 80%;
  margin-left: 1000%;
}

/*foto*/

.foto-headline {
  font-size: 100%;
  margin-top: 25%;
  margin-left: 20%;
}

.foto-text {
  font-size: 70%;
  text-align: center;
}

.box1 {
  width: 80%;
  height: 620px;
}

.foto {
  font-size: 90%;
}

.foto img {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

/*movingart*/

.movingart-headline {
  font-size: 100%;
  margin-top: 25%;
  margin-left: 10%;
  margin-right: 10%;
}

.movingart-text {
  font-size: 70%;
}

.movingart a {
  font-size: 60%;
  text-align: center;
}

.box2 {
  width: 80%;
  height: 750px;
}

/*video*/

.video-headline {
  font-size: 100%;
  margin-top: 25%;
  margin-left: 20%;
}

.video-text {
  font-size: 70%;
}

.video a {
  font-size: 60%;
}

.box3 {
  width: 80%;
  height: 370px;
}

.video img {
  width: 80%;
  margin-left: 10%;
}

/*app*/

.app-headline {
  font-size: 100%;
  margin-top: 25%;
  margin-left: 20%;
}

.app-text {
  font-size: 70%;
}

.app a {
  font-size: 40%;
  text-align: center;
  margin-left: 15%;
}

.box4 {
  width: 80%;
  height: 400px;
}

.app img {
  width: 70%;
  margin-top: 1%;
  margin-left: 15%;
  margin-bottom: 5%;
}

/*animation*/

.animation-headline {
  font-size: 100%;
  margin-top: 25%;
  margin-left: 30%;
}

.animation-text {
  font-size: 70%;
  margin-left: 2%;
  padding: 0 13%;
}

.animation a {
  font-size: 60%;
  margin-left: 10%;
}

.box5 {
  width: 80%;
  height: 500px;
}

.animation img {
  width: 80%;
  margin-left: 10%;
}

/*poster*/

.poster-headline {
  font-size: 100%;
  margin-top: 25%;
  margin-left: 35%;
}

.poster-text {
  font-size: 70%;
  margin-left: 5%;
  margin-right: 5%;
}

.box6 {
  width: 80%;
  height: 490px;
}

.poster img {
  width: 90%;
  height: auto;
}


/*footer*/

.footer {
  font-size: 20%;
  height: 40px;
  width: 80%;
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 5%;
}

.footer div {
  padding: 0 10px;
  margin-left: -10px;
  margin-top: 10px;
}

.socialmedia a {
  margin-right: 2px;
}
