* {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
}

body{
  background-color: #DCD4D0;
}

nav {
  float: left;
  display: flex;
  justify-content: center;
  background-color: #DCD4D0;
  height: 140px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
}

.logo {
  font-family: Sacramento;
  font-size: 75px;
  color:#2E2E2E;
  text-decoration: none;
}

.navbar a {
  float: left;
  color: #2E2E2E;
  font-size: 20px;
  font-family: Arial;
  padding: 40px 10px;
  text-decoration: none;
  margin-right: 35px;
}

ul {
  margin: 30px;
}

ul li {
  list-style: none;
  float: left;
  line-height: 20px;
}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-family: arial;
  color: black;
  padding: 0 20px;
}

ul li a:hover {
  color: #C1B9B5;
}

.headline {
  font-family: Arial;
  font-size: 40px;
  color:#2E2E2E;
  margin-left: auto;
  margin-right: auto;
}

.text {
  font-family: Arial;
  font-size: 18px;
  color:#2E2E2E;
  text-align: left;
  line-height: 1.5;
  text-align: left;
  margin-left: 150px;
  margin-right: 150px;
}

.box1 {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 1450px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.foto {
  font-family: Arial;
  font-size: 18px;
  color:#2E2E2E;
  text-align: left;
  line-height: 1.5;
  text-align: left;
  margin-left: 150px;
  margin-right: 150px;
}

.foto img {
  width: 70%;
  height: auto;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 50px;
}

.movingart a {
  font-family: Arial;
  font-size: 18px;
  color:#2E2E2E;
  line-height: 3.0;
  text-align: left;
  margin-left: 150px;
  text-decoration: underline;
}

.box2 {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 1650px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.movingart img {
  width: 70%;
  height: auto;
  margin-top: 10px;
  margin-left: 150px;
  margin-bottom: 50px;
}

.video a {
  font-family: Arial;
  font-size: 18px;
  color:#2E2E2E;
  text-align: left;
  line-height: 3.0;
  margin-left: 150px;
}

.box3 {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 700px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.video img {
  width: 70%;
  height: auto;
  margin-top: 10px;
  margin-left: 150px;
  margin-bottom: 50px;
}

.app a {
  font-family: Arial;
  font-size: 18px;
  color:#2E2E2E;
  line-height: 3.0;
  text-align: left;
  margin-left: 150px;
}

.box4 {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 850px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.app img {
  width: 70%;
  height: auto;
  margin-top: 10px;
  margin-left: 150px;
  margin-bottom: 50px;
}

.animation a {
  font-family: Arial;
  font-size: 18px;
  color:#2E2E2E;
  line-height: 3.0;
  text-align: left;
  margin-left: 150px;
}

.box5 {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 1050px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
}

.animation img {
  width: 70%;
  height: auto;
  margin-top: 20px;
  margin-left: 155px;
}

.poster {
  font-family: Arial;
  font-size: 18px;
  color:#2E2E2E;
  text-align: left;
  line-height: 1.5;
  text-align: left;
  margin-left: 150px;
  margin-right: 150px;
}

.box6 {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 1150px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.poster img {
  width: 90%;
  height: auto;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 200px;
  margin-bottom: 50px;
}

footer {
  color: #DEDEDE;
  font-family: Arial;
  font-size: 15px;
  background-color: #4E423B;
  height: 100px;
  width: 70%;
  display: inline-block;
  margin-left: 215px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.footer div {
  display: inline-block;
  margin-left: 15px;
  margin-top: 20px;
  padding: 0 30px;
}

.socialmedia a {
  display: inline-block;
  margin-left: 15px;
}

.fa-facebook-square {
  background: #4E423B;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.fa-linkedin {
  background:#4E423B;
  font-size: 20px;
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
